body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */

    flex: 1;
    margin: 0 500px;
}

/* The images in each station's page */
.stations-image {
    height: 25rem;
}

.first-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Nav buttons */
.nav-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
}

button {
    height: 3rem;
    width: 100%;
    padding: 0 2rem;
    border-radius: 1rem;
    background-color: orange;
    cursor: pointer;
}

.go-to-first {
    width: 100%;
    justify-content: center;
}

.go-to {
    padding: 0 1rem;
}

.first-station {
    background-color: green;
}

/* for all paragraph texts */
p,
h3 {
    text-align: justify;
    font-size: 1.2rem;
    line-height: 2rem;
}

/* for all chants */

.chants {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0;
}

.leader,
.responder {
    display: flex;
    gap: 2rem;
    align-items: center;
    /* border: 1px solid red; */
    margin: 0;
}

.chant-title,
.response,
.verse {
    margin-bottom: 0;
}

/* Styling for hymns section */
.hymns {
    display: flex;
    gap: 2rem;
}

.english,
.latin {
    text-align: left;
}

/* Styling for christ's speaking */
.christ,
.word-of-christ,
.reading-title,
.station,
span {
    color: red;

}

/* Styling for Man responds and all titles in blue */
.man,
.station-title {
    color: blue;
}

/* Texts that are used for emphasis inside parenthesis */
.emphasis-text {
    font-style: italic;
}


footer {
    margin-top: 3rem;
    padding: 1rem;
    border-top: 0.5px solid grey;
    text-align: center;
    color: grey;
}

/* Page navigation buttons */

.links-container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.each-stations {
    padding: 0;
    border-radius: 50%;
    font-size: 1rem;
    background-color: white;
    border: 0.5px solid grey;
    cursor: pointer;
}

.each-stations:hover {
    background-color: beige;
}

/* Styling for the image */
.conclusion-image {
    height: 48rem;
}

@media (max-width: 1080px) {
    body {
        margin: 0 0.5rem;
    }
}